:root{
  --bg-color:  #252525;
  --white-text: #ffffff;
  --blue-color: #0832FFA6;
}
body{
  margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--bg-color);
}
.container{
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  padding-bottom: 200px;
}

#contact_title{
  text-align: center;
  padding-top: 5vh;
  color: var(--white-text);
  margin-bottom: 4vh;
  font-size: 30px;
  font-weight: bold;
}
.box{
  width: 100%;
  position:relative;
  top: 100%;
  left: 20%;
  padding-top: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.rectangle1{
  width: 350px;
  display: flex;
  height: 300px;
  background-color:rgba(255, 255, 255, 0.502);
  border-radius: 28px;
  color: var(--white-text);
}

.form{
  width: 530px;
  height: 400px;
  color: var(--black);
  background: #4e7598;
  position: absolute;
  top: 57%;
  left: 43%;
  transform: translate(-50%, -50%);
  padding: 7px 40px 20px 40px;
  border-radius: 10px;
}
.form input{
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 15px;
  font-size: 15x;
  border: none;
  border-bottom: 1px solid var(--black);
  outline: none;
  color: var(--black);
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.rectangle{
  width: 545px;
  display: flex;
  height: 100px;
  background-color:white;
  color: var(--white-text);
}

.form input[type="submit"]:hover{
  opacity: 0.8;
  font-weight: bold;
  background-color:#4e7598 ;
}
.get {
  position: relative; 
  top: 40px; 
  left: 50%; 
  transform: translateX(-50%); 
}
