:root{
    --bg-color:  #252525;
    --white-text: #ffffff;
    --blue-color: #0832FFA6;
}

.create_account{
    background:var(--bg-color);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.form .get_started {
    text-align: center;
    margin-top: 20px;
}
.form input[type="text"].error,
.form input[type="email"].error,
.form input[type="password"].error{
    border: 1px solid red;
}

.form .get_started .get {
    padding: 10px 20px;
    background-color: #4e7598; 
    color: #ffffff; 
    border: none;
    left: 120px;
    top: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.form{
    width: 250px;
    height: 370px;
    color: var(--black);
    background: #4e7598;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.form h1{
    font-size: 22px;
    color: var(--green);
    text-align: center;
    margin-bottom: 20px;
}

.form input{
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 15px;
    font-size: 15x;
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    color: var(--black);
    letter-spacing: 1px;
}
.get{
    position: relative;
    top: 50%;
    left: -10%;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.form input[type="submit"]:hover{
    opacity: 0.8;
    font-weight: bold;
}