:root{
    --dash: rgb(232, 235,239);
}
.edit_blog{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.edit_blog1{
    padding: 12vh 5vw 3vh 10vw;
    overflow: hidden;
    position: relative;
    height: 30%;
    width: 10%;
    top: 85%;
    left: 62.8%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color:#4E7598 ;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.edit{
    position: relative;
    height: 90%;
    width: 55%;
    top: 70%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.text{
    position: relative;
    height: 80%;
    width: 45%;
    top: 55%;
    left: 300px;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.blog_name1{
    padding-top: 20;
}
#blog{
    position: relative;
    transform: translate(-50%, -50%);
    background-color:blue ;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.rectangle{
    position: relative;
    position: relative;
    top:-250px;
    left:80%;
    height: 36%;
    width: 17%;
    transform: translate(-50%, -50%);
    background-color:rgba(255, 255, 255, 0.826);
    padding: 7px 40px 20px 40px;
}
.rectangle1{
    position: relative;
    top:-200px;
    left:32.8%;
    height: 4%;
    width: 37%;
    background-color: #4E7598;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
    text-align: center;
}
