body, html {
    margin: 0;
    padding: 0;

  }
  .main_container{
    position: absolute;
    height: 90%;
    width: 75%;
    overflow: hidden;
    background-color:#303030;
    left: 200px;
    top: 40px;
    border-radius: 10px;

}
.container{
   position: relative;
   height: 5%;
    width: 90%;
    top: 5%;
    left: 640px;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;

}
.circle{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: beige;
  top: -5px;
  left: -25px;
}
.title{
  position: relative;
  top:-62px;
  left: 50px;
  color: white;
  font-size: 20px;

}
.icona{
  position: relative;
  height: 80%;
    width: 45%;
    top: -85px;
    left: 1250px;
    color: #4E7598;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.iconb{
  position: relative;
  height: 80%;
    width: 45%;
    top: -140px;
    left: 1300px;
    transform: translate(-50%, -50%);
    color: #4E7598;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.iconc{
  position: relative;
  height: 80%;
    width: 45%;
    top: -195px;
    left: 1350px;
    transform: translate(-50%, -50%);
    color: #4E7598;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.navbar {
  padding: 10px;
  position: absolute;
  left: 361px;
  top: 10px;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.login {
  color:#4E7598;
  font-size: 20px;
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  word-wrap: break-word;
}
.icond{
  position: relative;
  color: #4E7598;
  top:10px;

}
.icone{
  position: relative;
  color: #4E7598;
  left: 35px;
  top:-15px;
}
.iconf{
  position: relative;
  color: #4E7598;
  top:-40px;
  left:65px;
}
.icong{
  position: relative;
  color: #4E7598;
  left: 1070px;
  top:-102px;
}
.rectangle{
  position: relative;
  height: 20px;
  width: 100px;
  border-radius: 5px;
  background-color: beige;
  top: -75px;
  left: 970px;
  text-align: right;
}
.hello{
  position: relative;
  color: white;
  top: 50px;
  left: 50px;

}
.rukundo{
  position: relative;
  color: white;
  top: 30px;
  left: 48px;
  font-size: 30px;
}
.creative{
  position: relative;
  color: white;
  top: 10px;
  left: 50px;
}
.rhombs{
  position: relative;
  height: 600px;
  width: 600px;
  top: -115px;
  left: 870px;
  background-color: #4E7598;
  border-radius: 30px;
  transform:rotate(70deg);
 
}
.rectanglea{
  position: relative;
  height: 250px;
  top:-400px;
  left: 700px;
  width: 200px;
  background-color: blue;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 7px 40px 20px 40px;
}
.rectangleb{
  position: relative;
  height: 40px;
  top:-560px;
  left: 500px;
  width: 40px;
  background-color:#516E99;
  border-radius: 8px;
}
.rectanglec{
  position: relative;
  height: 40px;
  top:-600px;
  left: 550px;
  width: 40px;
  background-color:#296BCE;
  border-radius: 8px;
}
.rectangled{
  position: relative;
  height: 40px;
  top:-640px;
  left: 600px;
  width: 40px;
  background-color:white;
  border-radius: 8px;
}
.rectanglee{
  position: relative;
  height: 40px;
  top:-680px;
  left: 650px;
  width: 40px;
  background-color:#4F4D4D;
  border-radius: 8px;
}
.rectanglef{
  position: relative;
  height: 40px;
  top:-720px;
  left: 450px;
  width: 40px;
  background-color:#7B8A9F;
  border-radius: 8px;
}