body, html {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  width: 1444px;
  height: 1082px;
  background: #252222;
  border-radius: 30px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.profile-image {
  width: 256px;
  height: 260px;
  position: absolute;
  left: 41px;
  top: 460px;
}

.bio {
  width: 812px;
  height: 275px;
  position: absolute;
  left: 555px;
  top: 460px;
  color: white;
  font-size: 26px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.skills-background {
  width: 1444px;
  height: 240px;
  position: absolute;
  left: 0px;
  top: 836px;
  background: black;
  border-radius: 30px;
}

.skills-background h2 {
  position: absolute;
  left: 580px;
  top: 836px;
  color: white;
  font-size: 50px;
  font-family: Inter;
  font-weight: 900;
  word-wrap: break-word;
}

.skills {
  position: absolute;
  left: 130px;
  top: 940px;
  display: flex;
}

.skill {
  width: 129px;
  height: 128px;
  position: relative;
}

.skill-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skill-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00D8FF;
}

.navbar {
  padding: 10px;
  position: absolute;
  left: 361px;
  top: 118px;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: white;
  font-size: 30px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.login {
  color:blue;
  font-size: 30px;
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  word-wrap: break-word;
}

.profile {
  position: absolute;
  left: 36px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.small-profile-image {
  width: 116px;
  height: 113px;
  border-radius: 9999px;
}

.profile-name {
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.profile-icons {
  display: flex;
  gap: 22px;
}

.icon {
  width: 24px;
  height: 24px;
  background: #296BCE;
}

.follow-button {
  position: absolute;
  padding: 10px;
  left: 1341px;
  top: 98px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.follow-background {
  width: 56.69px;
  height: 56.69px;
  background: #4e7598;
  border-radius: 50%;
}

.follow-text {
  padding: 10px;
}
