:root{
    --bg-color:  #252525;
    --white-text: #ffffff;
    --blue-color: #0832FFA6;
}
.login{
    background: var(--bg-color);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.form input[type="submit"] {
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 10px;
    background: var(--blue-color);
    color: var(--white-text);
    border: none;
    cursor: pointer; 
}
.form input[type="text"].error,
.form input[type="password"].error {
    border: 1px solid red; 
}

.form input[type="submit"]:hover {
    opacity: 0.8;
    font-weight: bold;
}


.form{
    width: 250px;
    height: 360px;
    background:#4e7598;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.form h1{
    font-size: 35px;
    color: var(--green);
    text-align: center;
    margin-bottom: 40px;
}

.form input{
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 15px;
    font-size: 20px;
    background:white;
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    color: var(--black);
    letter-spacing: 1px;
}

.form input[type="submit"]{
    width: 30px;
    height: 5px;
    color: var(--black);
    background: #4e7598;
    position: relative;
    top: 25%;
    width: auto; 
    height: auto; 
    text-align: center;
    left: 45%;
    margin-bottom: 100px;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}

.form input[type="submit"]:hover{
    opacity: 0.8;
    font-weight: bold;
}