:root{
    --dash: rgb(232, 235,239);
}
.edit_blog{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.edit_blog1{
    padding: 12vh 5vw 3vh 10vw;
    overflow: hidden;
    position: relative;
    height: 90%;
    width: 10%;
    top: 100%;
    left: 62.77%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.6) ;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.view{
    position: relative;
    height: 90%;
    width: 55%;
    top: 7%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.message1{
    position: relative;
    height: 90%;
    width: 65%;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;

}
.circle{
    height: 70px;
    width: 70px;
    background-color: blue;
    border-radius: 50px;
}
.circle1{
   
    height:10px;
    width:10px;
    background-color: #00FFF0;
    border-radius: 50px;
    position: relative;
    top: -55px;
    left: 10.5%;
    transform: translate(-50%, -50%);
}
.sender{
    height:30px;
    width:160px;
    position: relative;
    top: -60px;
    left: 28%;
    transform: translate(-50%, -50%);
    margin-bottom: -20px;
}
.mmm1{
    height:30px;
    width:160px;
    position: relative;
    top: -130px;
    left: 140%;
    transform: translate(-50%, -50%);
    margin-bottom: -30px;
}
.rectangle1{
    position: relative;
    top:50px;
    left:52.8%;
    height: 4%;
    width: 70%;
    background-color: #4E7598;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    border-radius: 5px;
    text-align: center;
}
.custom-list {
    list-style: none; 
    padding: 0; 
  }
.custom-list li {
    position: relative;
    top: 100px;
    margin-bottom: 20px; 
    border: 1px solid black; 
    padding: 10px; 
    background-color: #4E7598;
  }
  .dashboardtitle{
    font-size: 24px;
    position: relative;
    color: white;
    top: 20px;
}
