:root{
    --dash: rgb(232, 235,239);
}
.edit_blog{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.edit_blog1{
    padding: 12vh 5vw 3vh 10vw;
    overflow: hidden;
    position: relative;
    height: 90%;
    width: 10%;
    top: 100%;
    left: 62.77%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
#display_blogs{
    position: relative;
    height: 90%;
    width: 55%;
    top: 7%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.text {
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: left;
    margin-right: 10px; 
    margin-bottom: 20px;
    margin-top: 50px;
}
.blog{
    max-width: 100%;
    word-wrap: break-word;
}

.blog_name1{
    padding-top: 20;
}
#blog{
    position: relative;
    transform: translate(-50%, -50%);
    background-color:blue ;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
#rectangle{
    position: relative;
    top: -20px;
    left: 65%;
    width: 220px; 
    height: 300px;
    background-color: white;
    overflow: hidden; 
}

.rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.rectangle1 {
    width: 51%;
    height: 20%;
    background-color: #4E7598 ; 
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.rectangle1 button.edit_button {
    background-color: transparent; 
    border: none;
    color: #000;
    cursor: pointer; 
   
}
.custom-list {
    list-style: none; 
    padding: 0; 
  }
  
  .custom-list li {
    position: relative;
    top: 100px;
    margin-bottom: 20px; 
    border: 1px solid black; 
    padding: 10px; 
    background-color: #4E7598;
  }
  .logout{
    position: relative;
    height: 90%;
    width: 20%;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    text-size-adjust: 100%;
    font-size: 15.5px;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
  }
  div a{
    color:black;
    text-decoration: none;
  }