:root{
    --dash: rgb(232, 235,239);
}
.edit_blog{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.edit_blog1{
    padding: 12vh 5vw 3vh 10vw;
    overflow: hidden;
    position: relative;
    height: 90%;
    width: 10%;
    top: 100%;
    left: 62.77%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.Message{
    position: relative;
    height: 90%;
    width: 55%;
    top: 7%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px 40px 20px 40px;
    border-radius: 10px;
}
.left{
    position:relative;
    height:90%;
    width: 85%;
    top: 55%;
    left:45%;
    transform : translate(-50%,-50%);
    padding : 7px 40px 20px 40px;
    text-size-adjust: 100%;
    font-size: 13px; 
    
}
.yyy1{
    margin-bottom: -90px;
}
.loading{
    margin-top:80px;
    font-size: 15px;
}
.rectangle{
    position:relative;
    height:17px;
    width: 40%;
    top:-40px;
    left:60%;
    transform : translate(-50%,-50%);
    background-color: #4E7598;
    padding : 7px 40px 20px 40px;
    text-size-adjust: 100%;
    text-align: center;
    
}
.icon2{
    position:relative;
    height:90%;
    width: 30%;
    top:-72px;
    left:120%;
    transform : translate(-50%,-50%);
    padding : 7px 40px 20px 40px;
    text-size-adjust: 100%;
}
.custom-list {
    list-style: none; 
    padding: 0; 
  }
  
  .custom-list li {
    position: relative;
    top: 100px;
    margin-bottom: 20px; 
    border: 1px solid black; 
    padding: 10px; 
    background-color: #4E7598;
  }
  .dashboardtitle{
    font-size: 24px;
    position: relative;
    color: white;
    top: 20px;
}

.logout{
    position: relative;
    height: 90%;
    width: 20%;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 40px 20px 40px;
    text-size-adjust: 100%;
    font-size: 15.5px;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
  }
  div a{
    color:black;
    text-decoration: none;
  }